<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="alert alert-danger">
    <h4 class="alert-heading">
      <%= t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: devise_i18n_fix_model_name_case(resource.model_name.human, i18n_key: 'errors.messages.not_saved'))
      %>
    </h4>
    <p>Please fix the following <%= pluralize(resource.errors.count, "error") %>:</p>
    <ul class="mb-0">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
