<div class="card profile-card">
  <div class="card-header profile-header text-center">
    <h3>Profile</h3>
  </div>
  <div class="card-body profile-body">
    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label profile-label">Name:</label>
      <div class="col-sm-9">
        <p class="form-control-plaintext profile-text"><%= @user.name %></p>
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label profile-label">Email:</label>
      <div class="col-sm-9">
        <p class="form-control-plaintext profile-text"><%= @user.email %></p>
      </div>
    </div>
  </div>
</div>
