.hero {
  background: #c4dbf3;
  padding: 100px 0;
}

.hero h1 {
  font-size: 4rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.25rem;
}

.footer {
  background: #343a40;
  color: #fff;
  padding: 5px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
